<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Prof Vinicius Machado</h1>

  <hr>

  <form action="/add-list" method="POST">
    <input type="text" name="title">
    <br>
    <input type="text" name="description">
    <br>
    <button type="submit">Cadastrar</button>
  </form>

  <hr>

  <pre>
    <%= JSON.stringify(list) %>
  </pre>
  <ul>
    <% for (let i = 0; i < list.length; i++) { %>
      <li><a href="/detail/<%= list[i].title %>"><%= list[i].title %></a> - <a href="/delete/category/<%= list[i].title %>">DELETAR</a></li>
    <% } %>
  </ul>

</body>
</html>